<div class="container mx-auto">

  <div class="row my-3 mx-auto">
    <h4 class="col-12 text-center mx-auto">勤怠管理画面</h4>
  </div>

  <div class="row py-3 col-12 mx-auto">

    <h5 class="col-11 mx-auto text-center py-2">勤怠状況：不明</h5>
    <%= render partial: 'table', locals: { requests: @nil_records } %>

  </div>

  <div class="row py-3 col-12 mx-auto">

    <h5 class="col-11 mx-auto text-center py-2">勤怠状況：出勤</h5>
    <%= render partial: 'table', locals: { requests: @division1 } %>

  </div>

  <div class="row py-3 col-12 mx-auto">

    <h5 class="col-11 mx-auto text-center py-2">勤怠状況：休日出勤</h5>
    <%= render partial: 'table', locals: { requests: @division4 } %>

  </div>

  <div class="row py-3 col-12 mx-auto">

    <h5 class="col-11 mx-auto text-center py-2">勤怠状況：欠勤・有給</h5>
    <%= render partial: 'table', locals: { requests: @division2_3 } %>

  </div>
</div>