<div class="container mx-auto mb-3">
  <div class="row">
    <div class="col"></div>
    <%= link_to new_admin_session_path, class:"my-2 py-3 col- mx-auto " do %>
      <%= image_tag 'SSS.png', width: 330, height: 200 %>
    <% end %>
    <div class="col"></div>
  </div>
</div>