<div class="container mx-auto mb-3 pt-5">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-3 col-2"></div>
    <%= link_to new_session_path, class:"my-2 pt-5 pb-3 col mx-auto" do %>
      <%= image_tag 'SSS.png', width: '100%', height: '100%', align: 'center', class: "img-responsive" %>
    <% end %>
    <div class="col-xl-4 col-lg-4 col-md-3 col-2"></div>
  </div>
</div>