@media screen and (max-width:575px) {
  table {
    width: 100%;
  }
  th {
    display: block;
    text-align: left;
    width: 100%;
  }

  td {
    display: block;
    text-align: center;
    width: 100%;
  }

  .flex {
    display: flex;
  }
}